@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #7fb73a;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  width: 100%;
}
/** navigation **/
.navigation {
    background: -moz-linear-gradient(top, #7fb73a, skyblue);
    background: -webkit-gradient(linear, left top, left bottom, from(#7fb73a), to(rgb(157, 203, 221)));
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -moz-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: #454545;
    text-shadow: 0 1px 0 white;
    padding: 1rem;
  }

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: black;
  margin-left: 40px;
}

.navigation .link-active {
  font-weight: bold;
}

/* Header */
header h1 {
  text-align: center;
  margin: 2rem;
  padding: 40px 0px 40px 0px;
  text-shadow: 0 1px 0 cyan;
}

/* form */
form {
    margin: 0 0 4rem;
    padding: 10px;
}
.label-input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* Media Query for Large screens */
@media (min-width: 800px) {
  .label-input-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
}
.label-input-container > div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
}

.input{
  margin-left: 20px;
  color: darkcyan;
} 

.input-label {
  font-weight: bold;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: rgb(255, 255, 255);
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid darkcyan;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 80%;
  max-width: 350px;
}
#output {
  margin: auto;
  margin-top: 30px;
  display: block;
  padding: 1rem;
  width: 80%;
  height: 20vh;
  outline: none;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 0.5rem;
  background-color: rgb(167, 212, 207);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
/* Media Query for Large screens */
@media (min-width: 800px) {
  #output {
    width: 60%;
  }
  .input-text {
    width: 100%;
  }
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
  transition: 0.8S;
}
#submit:hover {
  background-color: #0e4e26;
}
#clear:hover {
  background-color: rgb(131, 35, 35);
}
#clear:focus-visible,
#submit:focus-visible {
  outline-offset: 1px;
}
#flexbox {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
form #flexbox > div {
  margin-right: 30px;
  margin-left: 30px;
}
#submit{
  background-color: darkcyan;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#clear{
  background-color: rgb(163, 11, 11);
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/* Media Query for Large screens */
@media (min-width: 1024px) {
  #output,
  .output {
    font-size: x-large;
    padding-top: 20px;
  }
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 0.2rem;
}

/** footers **/

.footer {
  background-color: #5e832d;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  box-shadow: 0 8px 10px 10px rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.footer .link {
  color: white;
  transition: 0.3s;
  margin-left: 20px;
}
.footer .link:hover {
  color: rgba(255, 255, 255, 0.621);
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

.footer ul {
  padding-inline-start: 0px;
  margin-bottom: 10px;
}